<div class="header">
    <a routerLink="/" class="header__logo">CRUD APP</a>
    <ul class="header__menu">
        <li class="header__item">
            <a class="header__link">Home</a>
        </li>
        <li class="header__item">
            <a class="header__link">Products</a>
        </li>
        <li class="header__item">
            <a class="header__link">Blog</a>
        </li>
        <li class="header__item">
            <a class="header__link">Contact</a>
        </li>
    </ul>
    <div class="header__actions">
        <ion-icon name="search"></ion-icon>
        <ion-icon name="heart"></ion-icon>
        <ion-icon name="person"></ion-icon>
    </div>
</div>