<div class="users">
    <div class="users__top">
        <h3 class="users__top-heading">Users</h3>
        <a class="users__top-add" routerLink="create">
            <ion-icon name="done-all"></ion-icon>
            <span>Add User</span>
        </a>
    </div>

    <div class="users__content box">
        <ng-container *ngIf="!loading; else loadingTempl">
            <p class="users__total">Have an <b>{{users.length}}</b> user</p>

            <table class="users__list">
                <thead>
                    <tr>
                        <th></th>
                        <th>Fullname</th>
                        <th>Username</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr 
                        user-item
                        *ngFor="let user of users" 
                        [user]="user" 
                        (deleteUser)="handleDeleteUser($event)"
                        >
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <ng-template #loadingTempl>
            <div [style.textAlign]="'center'">Loading ...</div>
        </ng-template>

        <lib-toastify-toast-container></lib-toastify-toast-container>
    </div>
</div>
