@import '../../scss/variables.scss';

.create {
    padding: 15px 0;

    &__heading {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        padding-left: 200px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 0 70px;
    }

    &__group {
        display: flex;
        align-items: center;

        & > span {
            display: inline-block;
            width: 150px;
        }

        input {
            padding: 5px;
            width: 250px;
            border-bottom: 1px solid gray;
        }

        input[type=file] {
            display: none;
        }

        select {
            padding: 5px 30px;
        }

        label {
            display: inline-flex;
            align-items: center;
            gap: 0 10px;
            color: white;
            background-color: $blue-color;
            padding: 7px 10px;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 0 40px;
        // margin-top: 10px;

        & > button {
            width: max-content;
            padding: 12px 20px;
            border-radius: 4px;
        }
    }   

    &__submit {
        background-color: green;
    }

    &__back {
        background-color: orange;
    }

    &__message span {
        color: red;
        font-size: 13px;
        font-weight: 500;
    }

    &__preview {
        width: 80px;
        height: 80px;
        margin-left: 80px;
        border-radius: 100rem;
    }

    &__disabled {
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
    }
}