

<td><img [src]="getUrlAvatar(user.avatar ? user.avatar : avatar_user_default)" class="user__avatar"></td>
<td>{{user.fullName}}</td>
<td>{{user.userName}}</td>
<td>{{user.age}}</td>
<td>{{user.gender}}</td>
<td class="user__actions">
    <a class="user__actions-view" routerLink='/detail/{{user._id}}'>
        <ion-icon name="eye"></ion-icon>
    </a>
    <a class="user__actions-edit">
        <ion-icon name="create"></ion-icon>
    </a>
    <a class="user__actions-remove">
        <ion-icon name="trash"></ion-icon>
    </a>
</td>