<ul class="menu">
    <li class="menu__item">
        <a class="menu__link">
            <ion-icon name="cloud"></ion-icon>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="menu__item">
        <a class="menu__link">
            <ion-icon name="person"></ion-icon>
            <span>Admins</span>
        </a>
    </li>
    <li class="menu__item">
        <a class="menu__link">
            <ion-icon name="person-add"></ion-icon>
            <span>Users</span>
        </a>
    </li>
    <li class="menu__item">
        <a class="menu__link">
            <ion-icon name="settings"></ion-icon>
            <span>Settings</span>
        </a>
    </li>
    <li class="menu__item">
        <a class="menu__link">
            <ion-icon name="albums"></ion-icon>
            <span>Profile</span>
        </a>
    </li>
    <li class="menu__item">
        <a class="menu__link">
            <ion-icon name="log-out"></ion-icon>
            <span>Signout</span>
        </a>
    </li>
</ul>