.detail {
    padding: 15px 0;

    &__heading {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__wrapp {
        width: max-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &__avatar {
        width: 100px;
        height: 100px;
        margin: 0 auto 20px auto;
    }

    table {
        margin-bottom: 30px;
    }

    table, td {
        border: 1px solid gray;
    }

    td {
        padding: 10px 50px;
    }

    &__back {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 0 5px;
        padding: 10px 12px;
        background-color: orange;
        color: white;
        border-radius: 4px;

        & > *:first-child {
            color: white;
            font-size: 16px;
        }
    }
}