<div class="detail">
    <h5 class="detail__heading">Details Info</h5>

    <div class="detail__content box">
        <ng-container *ngIf="!loading; else loadingTempl">
           <div class="detail__avatar">
                <img [src]="getUrlAvatar(user.avatar ? user.avatar : avatar_user_default)">
           </div>
            <table>
                <tbody>
                    <tr>
                        <td>Full name</td>
                        <td>{{user.fullName}}</td>
                    </tr>
                    <tr>
                        <td>User name</td>
                        <td>{{user.userName}}</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>{{user.age}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{user.gender}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Phone number</td>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{user.address}}</td>
                    </tr>
                </tbody>
            </table>

            <button class="detail__back" routerLink="/">
                <ion-icon name="arrow-round-back"></ion-icon>
                <span>Back</span>
            </button>
        </ng-container>

        <ng-template #loadingTempl>
            Loading ...
        </ng-template>
    </div>
</div>